@media screen and (min-width: 1000px) {
   #main {width:1000px}
}
@media screen and (max-width: 1000px) {
   #main {width:600px}
}
@media screen and (max-width: 600px) {
   #main {width:100%;
	  margin:0px;}
}

body {
	background-color: #DDD;
	font-family: Roboto, Helvetica;
	margin: auto;
}

h1 {
	font-style: normal;
	font-family: Helvetica;
	font-kerning: normal;
}


header a {
	color: white;
	font-style: normal;
	text-decoration: none;
}


header {
	background-color: darkblue;
	padding: 10px;
	color: white;
	font-style: normal;
	text-align: center;
	text-shadow: 3px 3px 2px gray;
}

header h3 {
	font-style: italic;
}

figure {
	text-align: center;
}

figcaption {
	font-style: italic;
}

#main {
	margin: auto;
	background-color: #FFE;
	box-shadow: 5px 5px 3px gray;
}

#content {
	padding: 30px;
}


